  ul,
  ul li {
    list-style: none;
  }
  
.overflow-title-a{
    transition: all 250ms;
    color:white;
    font-size: large;
  }

  .overflow-title-a:hover{
    color:rgb(255, 136, 0);
  }


.title{
    color: azure;
    position: absolute;
    transform: rotate(90.166deg);
    width: 150px;
    left: -62px;
    top: 430px;
    margin-bottom: 1px;
}
.overflow-menu{
    transform: translateX(-200%);
    background-color: #7e7e7e;
    width: 500px;
    height: 1000px;
    position: fixed;
    transition: all 350ms ease-in-out;
}

.overflow-title-h2{
    color: azure;
    transition: all 650ms;
    position: absolute;
    transform: rotate(90.166deg);
    width: 150px;
    left: 400px;
    top: 430px;
    margin-bottom: 1px;
}

.galery-menu:hover .overflow-menu .overflow-title-h2{
   opacity:0; 
}


.overflow-list{
    list-style-type:none;
    margin-top: 50px;
    margin-left: 60px;
    gap: 10px;
}

  a,
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  

  
  aside,
  nav,
  footer,
  header,
  section,
  main {
    display: block;
  }
  
 
  img {
    vertical-align: top;
  }

.galery-menu{
    background-color: #7e7e7e;
    width: 30px;
    height: 1000px;
    position: fixed;
    transition: all 250ms ease-in-out;
}

.galery-menu:hover .overflow-menu{
    transform: translateX(0%);    
}

  img,
  svg {
    max-width: 100%;
    height: auto;
  }
  
  address {
    font-style: normal;
  }
  
  /* Form */
  
  input,
  textarea,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button,
  input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
  }
  
  input:focus,
  input:active,
  button:focus,
  button:active {
    outline: none;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  label {
    cursor: pointer;
  }
  
  legend {
    display: block;
  }


